/* style.css */
/* common selectors */
    .content-margin {max-width: 1170px; width: calc(100% - 36px * 2); margin-left: auto;margin-right: auto;} 
    .logo {width: 127px;height: 37px; background: url(./assets/img/logo/logo.svg) center center / contain no-repeat; display: inline-flex}
    .logo:hover {opacity: .8;}

    /* button2 */
    .button2 {border: 1px solid currentColor; border-radius: 6px; color: var(--color-5); background: transparent;}
    .button2:hover {background: var(--color-5); color: var(--color-3);}
    
    /* button 3 [reversed button2] */
    .button3 {border: 1px solid currentColor; border-radius: 14px; background: var(--color-5); color: var(--color-3); font-size: 1.8rem;font-weight: 600;}
    .button3:hover {opacity: 0.7; box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);}

    /* H-text */
    h1, h2, h3, strong {color: var(--color-2);font-weight: 700;}
    h1 {font-size: 6.2rem;line-height: 1.2;}
    h2 {font-size: 4.2rem;line-height: 1.3;}
    h3 {font-size: 2.0rem;font-weight: 600;}

    p {color: var(--color-4); line-height: 1.65;}    
    p.quote {color: #5D6564; line-height: 1.5; font-size: 3.2rem; }
    .title {font-size: 1.4rem; margin-bottom: 18px; display: block;}
    strong {white-space: pre;}
    a, i { transition: 0.3s;}

    h4 {color: #2e2e2e;font-weight: 500; font-size: 1.8rem;}

    /* Scrollbars */
    .scroll {width: 100px; display: flex; border-radius: 15px; background: #ffcdcd; padding: 10px; gap: 5px;}
    .scroll a {width: 10px;height: 10px;border-radius: 5px; background: var(--color-3);}
    .scroll__item--max, .scroll a:hover {flex-grow: 1;}
/* custom selectors */
    /* header */
    header {display: flex;align-items: center; position: sticky; padding-top: 34px; top: -34px; background: rgba(255 255 255 / 0.75); backdrop-filter: blur(15px);-webkit-backdrop-filter: blur(15px); z-index: 100;}
    header .bar {padding: 18px; display: flex; align-items: center;}
        /* logo */
        /* nav-list */
        .menu-list {margin: 0 auto;}
        .menu-list ul {display: flex; align-items: center; gap: 19px; }
        .menu-list ul li a {display: inline-block; padding: 3px 10px; color: #2F3A3B; font-size: 1.6rem;} 
        .menu-list ul li a::before {content: attr(title); display: block; visibility: hidden; height: 0; font-weight: 600;}
        .menu-list ul li a:hover {font-weight: 600;}
            /* Exclude menu button */
            .menu-list > a {visibility: hidden; display: none;}
        /* cta action */
        .cta-wrapper {display: flex;align-items: center; gap: 24px;}
        .cta-wrapper a {display: inline-block; font-weight: 400; font-size: 1.6rem;}
        .cta-wrapper a.button1::before {display: block;content: attr(title);font-weight: bold;height: 0;overflow: hidden;visibility: hidden;}
        .cta-wrapper a.button1:hover {font-weight: 600;}
        .cta-wrapper a.button2 {padding: 12px 24px; }
            /* Hero container */
    main .hero {display: flex; height: calc(100vh - 64px); max-height: 860px; }
    main .hero .wrapper {display: flex;align-items: center; gap: 136px;}
        /* Hero >> text */
        .hero .text {width: 40%;max-width: 460px; min-width: 200px;}
        .hero p {color: #767E7E; margin-top: 46px;margin-bottom: 52px; margin-right: 50px; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient:vertical; overflow: hidden;}
        .hero .cta-wrapper .button3 {padding: 20px 40px;}
        .hero .cta-wrapper a[action="play"] {width: 62px;height: 62px; border-radius: 50%; box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05); display: flex;align-items: center;justify-content: center;}
        .hero .cta-wrapper a[action="play"]:hover {box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);}

        /* Hero >> mixed-images */
        .hero .mixed-images {width: 50%; margin-left: auto; position: relative; background: url(./assets/img/landing/hero/1.png) center / contain no-repeat; aspect-ratio: 576 / 631;}
        .hero .mixed-images > .item {position: absolute; box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05); padding: 18px 25px; border-radius: 24px; }
        .hero .mixed-images > .item span {font-size: 1rem;color: var(--color-2); font-weight: 500; display: block;}
            .mixed-images #course {left: -40px;top: 149px; border-radius: 18px; background: var(--color-3); display: flex; align-items: center; gap: 16px;}
                #course img {width: 36px;height: 40px; object-fit: contain; }
                #course span {width: 55px; }
            .mixed-images #schedule {bottom: 46px; left: -65px; background: var(--color-3); display: flex; align-items: center; flex-direction: column; padding: 25px;}
                #schedule img {margin-top: 12px; width: 100%; height: 6px;}
                #schedule img:last-of-type {width: 26px;}
                #schedule span {margin-bottom: 4px;}
            .mixed-images #students {bottom: 40px; right: 45px; background: var(--color-3); display: flex; align-items: center; flex-direction: column; padding: 17px 35px; gap: 8px;}
                #students span {text-align: left; width: 100%;}
                #students .student-list {display: flex;}
                #students .item {background: var(--bg);width: 33px;height: 33px;border-radius: 50%; display: flex; align-items: center; justify-content: center;}
                .student-list>.item:not(:first-of-type) {margin-left: -7px;}
                .student-list .num {font-size: 1rem; font-weight: 500;color: var(--color-3); }
    /* Features container */
    main .features {padding: 130px 0; display: flex;}
        /* Features container >> text */
        main .features .text {width: 50%; display: flex; flex-direction: column;}
        main .features .text h2 {margin-bottom: 18px;}
        /* Features container >> features list */
        main .features .list {display: flex;align-items: center;justify-content: flex-start;align-content: center;margin-top: 80px;gap: 200px; height: 256px; overflow: hidden;}
            .features .list img {width: 102px;height: 102px; object-fit: contain; margin-bottom: 26px;}
            .features .list a {margin-bottom: 16px; display: block;}
            .features .list a:hover h3 {color: #063b3b} 
            .features .list p {display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient:vertical; overflow: hidden; max-width: 224px; font-size: 1.6rem;}
        main .features .scroll {visibility: hidden;}
    /* Courses container */ 
    main .courses {display: flex;}
        /* Course1 > Section 1 */
        .courses .section1 {width: 100%;margin-bottom: 80px;}
        .courses .section1 h2 {margin: 18px 0;}
        .courses .section1 section {width: 100%;display: flex; align-items: center;justify-content: space-between;}
        .courses .section1 section p {display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient:vertical; overflow: hidden; line-height: 1.8; width: 50%;max-width: 525px;}
        .courses .section1 section a {color: var(--color-5); text-decoration: underline; transition: .3s;}
        .courses .section1 section a:hover {color: var(--color-4);}
        /* Course1 > Section 2 */
        .courses .section2 {display: flex;align-items: center; gap: 46px; justify-content: center; flex-wrap: wrap;}
        .courses .section2 .item {width: 359px;height: 517px; position: relative; flex-shrink: 0;}
                 .courses .section2 img{width: 100%;height: 393px; object-fit: cover; padding: auto;top: 0;left: 0; position: absolute;border-radius: 8px; cursor: pointer;}
                 .courses .section2 img:hover {filter: brightness(.8);}
                 .courses .section2 data{position: absolute; bottom: 0; background: var(--color-3); border-radius: 8px; box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05); margin: 0 17px; padding: 18px 25px 30px;width: calc(100% - 17px * 2); box-sizing: border-box;}
                    /* .. > data */
                    data h3, data strong {font-size: 2.2rem; color: var(--color-2);}
                    data h3 {margin-bottom: 16px;}
                    data a:hover h3 {color: var(--color-4);}
                    data p {margin: 6px 0 18px; font-size: 1.4rem; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient:vertical; overflow: hidden;}
                    data .class-info {display: flex; gap: 10px; align-items: center;}
                        .class-info span { display: flex; align-items: center;gap: 10px;}
                        .class-info span::before {content: ''; display: block; width: 6px;height: 6px;border-radius: 50%; background: var(--color-5);}
        .courses .scroll {margin: 25px auto; visibility: hidden;}
    /* countdown container */
    main .countdown {padding: 265px 0; display: flex;}
        main .countdown .wrapper {max-width: 862px; padding: 0 30px; width: calc(100% - 30px * 2); display: flex; align-items: center; gap: 200px; flex-wrap: wrap; margin-left: auto;margin-right: auto; align-content: center;} 
            .countdown .wrapper .item {display: flex; flex-direction: column; gap: 11px; flex-shrink: 0; flex-grow: 1;}
            .countdown .wrapper .item > * {display: block; width: 100%; text-align: center;}
            .countdown .wrapper strong {font-size: 6.2rem;}
    /* testimonial container */
    main .testimonial {display: flex; width: 100%;}
         .testimonial .wrapper {display: flex; align-items: center;}
            .testimonial .section {width: 80%; max-width: 419px; background: linear-gradient(to right, rgba(255 255 255 / 100) 40%, transparent 100%); padding: 37px 0; z-index: 10;}
                /* testimonial section >> objects */
                .testimonial .section > i {width: 36px;height: 29px; background: url(./assets/img/icon/quote.svg); display: block;}
                .testimonial p.quote {margin-top: 27px;}
                .testimonial p.author {margin-top: 33px; display: inline-flex; position: relative; width: 200px; align-items: center;margin-left: 13px; }
                .testimonial p.author::before {content: ''; display: block; width: 8px;height: 2px; background: var(--color-2); position: absolute; left: -13px;}
                .testimonial .navigation {display: flex; gap: 30px; align-items: center; margin-top: 52px;}
                    .navigation a {display: flex; align-items: center; justify-content: center; background: var(--color-1);  border-radius: 50%; box-sizing: border-box; border: 1px solid var(--color-1); width: 50px;height: 50px;}
                    .navigation a i {color: var(--color-3);}
                    .navigation a:hover {background: var(--color-3); border-color: var(--color-1);}
                    .navigation a:hover i {color: var(--color-1);}
            .testimonial .user-list {position: relative; width: 60%; margin-left: auto; display: block; height: 100%;}
            .testimonial .user {position: absolute; border-radius: 50%; background: var(--bg); aspect-ratio: 1 / 1;}
                .testimonial .user:nth-child(1) { width: 235px; top: 107px; right: 171px;}
                .testimonial .user:nth-child(2) { width: 78px; top: 258px; right: 601px;}
                .testimonial .user:nth-child(3) { width: 92px; top: 107px; right: 443px;}
                .testimonial .user:nth-child(4) { width: 110px; top: 19px; right: 0px;}
                .testimonial .user:nth-child(5) { width: 78px; bottom: 29px; right: 29px;}
    /* Call-to-action container real */
    main .cta-elearning {background:#DEF6F5; padding: 76px 0; display: flex;}
        .cta-elearning .wrapper {display: flex; align-items: center; justify-content: space-between;}
        .cta-elearning .wrapper > * {flex-shrink: 0;}
        .cta-elearning .wrapper p {font-size:  1.8rem; margin-top: 18px;}
        .cta-elearning .wrapper .cta {padding: 20px 40px;}
    /* Footer  */
    footer {padding-top: 130px;}
        /* Footer > section1 */
        footer section.section1 {display: flex;align-items: flex-start; width: 100%; margin-bottom: 80px;}
            /* Footer > logo brands */
            /* Footer > sitemap */
            .sitemap {margin-left: auto; display: flex; gap: 144px; }
                .sitemap > * {display: block;flex-shrink: 0; }
                section .sitemap h4 {margin-bottom: 25px;}
                section .sitemap ul {display: flex; flex-direction: column; gap: 20px;}
                section .sitemap li {display: flex; gap: 9px; align-items: center;}
                section .sitemap li a {font-size: 1.6rem;color: #535353;}
                section .sitemap li a::before {content: attr(title); display: block; height: 0; visibility: hidden; font-weight: 700;}
                section .sitemap li a:hover {font-weight: 700;}
        footer section.section2 {display: flex;align-items: center; width: 100%; gap: 144px;}
        /* footer p copyright */
        footer p {margin-bottom: 50px; text-align: center;width: 100%; color: #B0B5B4;}

/*  responsive objects  */
@media all and (max-width: 1150px)  {
    /* footer */
    footer {padding-top: 70px;}
    footer .section1 {flex-direction: column; gap: 45px;}
    footer .logo {flex-shrink: 0;}
    footer .sitemap {flex-wrap: wrap; gap: 120px; justify-content: flex-start; margin-left: 0; margin: 0 auto; width: 100%}
    
}
@media all and (max-width: 1050px)  {
    /* hero container */
    main .hero {height: 650px;}
    main .hero .wrapper {position: relative;}
         .hero .wrapper > * {width: 100%; position: absolute; bottom: 0; max-width: unset;}
            .hero .wrapper .mixed-images {height: calc(100% - 80px); aspect-ratio: unset; bottom: 100px;}
                .mixed-images .item {top: 140px!important; bottom: unset!important; left: unset!important;left: unset!important;}
                .mixed-images .item#course {visibility: hidden;}
            .hero .wrapper .text {text-align: center; z-index: 10; border-top-left-radius: 25px;border-top-right-radius: 25px; background: #fff2f2; padding: 35px; box-sizing: border-box;}
                .hero .text p {margin: 25px 0; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient:vertical; overflow: hidden;}
                .hero .text .cta-wrapper {justify-content: center;}
}
@media all and (max-width: 900px)  {
    /* common selectors */
    h1 {word-break: break-all; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient:vertical; overflow: hidden;}
    span.title, h1, h2, body > p, .content-margin > p, section > p, h2 + p{text-align: center;width: 100%;}
    /* particular selectors */
        /* header */
        header .bar > * {flex-shrink: 0;}
        .bar .cta-wrapper {margin-left: auto; margin-right: 35px;}
        .bar .menu-list {margin: 0; order: 3; }
        .bar .menu-list > *:not(a) {visibility: hidden; display: none;}
            .bar .menu-list > a {visibility:visible; display: block;}
            .bar .menu-list > a:hover i {color: var(--color-2);}
        /* Features */
        main .features {padding: 100px 0;}
        main .features .text {width: 80%; margin: 0 auto;}
        main .features .list {height: 256px; overflow: hidden; align-content: flex-start; justify-content: center; flex-wrap: wrap;}
        main .features .list .item {display: flex; flex-direction: column; justify-content: center;}
        main .features .list .item * {text-align: center; margin-left: auto;margin-right: auto;}
        main .features .scroll {margin: 25px auto; visibility: visible;}
        /* Courses */
        .courses .section1 {margin-bottom: 45px;}
            .courses .section1 section {width: 100%;display: flex; flex-direction: column; gap: 30px;}
                .courses .section1 section p {width: 80%;}
        .courses .section2 { overflow: hidden; height: 520px; position: relative;}
        .courses .scroll {visibility: visible;}
        /* Countdown */
        main .countdown {padding: 150px 0;}
        main .countdown .wrapper {gap: 150px;}
        /* testimonial container */
        .testimonial .wrapper {position: relative;} .testimonial .user-list {position: absolute; top: 0;left: 0;width: 100%;overflow: hidden;}
        .testimonial .section {background: linear-gradient(to right, rgba(255 255 255 / 100) 40%, transparent 100%)} 
        /* call-to-action container */
        .cta-elearning .wrapper {flex-direction: column; align-content: center; justify-content: center; gap: 45px;}
}
@media all and (max-width: 450px)  {
    /* Header */
    .bar .cta-wrapper {display: none;}
    .bar .menu-list {margin-left: auto;}
    /* Hero container */
    main .hero {min-height: 500px;}
    main .hero .text { top: 250px!important; bottom: unset!important; padding: 25px 0!Important; background: #fff!important;}
    main .hero .mixed-images {height: 300px!important; top: 0!important;; bottom: unset!important;}
        .mixed-images .item#schedule {visibility: hidden;}
        .mixed-images .item#students {visibility: hidden;}
    main .hero .cta-wrapper  {flex-wrap: wrap;}
    /* Courses */
    .courses .section2 {height: 340px;}
        .courses .section2 .item {width: 90%; height: 303px;}
        .courses .section2 .item img {height: 200px;}
    data .class-info {flex-wrap: wrap;}
}