:root {
    --color-1: #FFB900;
    --color-2: #171100;
    --color-3: #ffffff;
    --color-4: #2E2100;
    --color-5: #5F5B53;
}
::selection{ }
html {font-size: 62.5%;}
html,body {scroll-behavior: smooth;}
a {text-decoration: none;}
ul {list-style-type: none; padding: 0; margin: 0;text-indent: 0;}
* {}
